<!DOCTYPE html>
<html lang='en' ng-app="todoList">

<head>
    <meta charset='utf-8'>
    <title>TODO List</title>

    <meta name='description' content='A simple app to track TODO items'>
    <meta name='author' content=''>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>

    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='./styles/main.css'>
</head>

<body>

    <header>
        <h1>todos</h1>
    </header>

    <main ng-controller="ToDoCtrl as ctrlr">
        <div class="main-container">
            <form ng-submit="createNewTodo()">
                <input ng-model="text" type="text" class='new-todo' placeholder='What needs to be done?'>
            </form>

            <ul class='items'>
                <li class="line-item" ng-repeat="todo in allTodos track by $index" data-id="{{todo.id}}">
                    <input type="checkbox" class="checkbox" ng-model="todo.completed"
                    ng-click="toggleCompleted(todo)">
                    <input type='text' ng-keydown="triggerUpdate($event, todo)" ng-model="todo.text" ng-readonly="todo.completed" class='edit-todo' value="{{todo.text}}">
                    <button ng-click="deleteTodo(todo)" class='delete'>X</button>
                </li>
            </ul>
        </div>

        <footer>
            <p class='remaining'><span class='incomplete-items'>{{allTodos.length}}</span> items left</p>
            <button ng-click="clearCompleted()" class='clear'>Clear completed</button>
            <nav>
                <ul class="show-container">
                    <li><button ng-click="showAll()" class="show all">All</button></li>
                    <li><button ng-click="showActive()" class="show current">Active</button></li>
                    <li><button ng-click="showCompleted()" class="show completed">Completed</button></li>
                </ul>
            </nav>
        </footer>
    </main>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/list-item.factory.js"></script>
    <script src="./js/storage.service.js"></script>
    <script src="./js/todo.controller.js"></script>
</body>

</html>
